.warp{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  header{
    height: 0.58rem;
    line-height: 0.58rem;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff8fa;
    text-align: center;
    font-size:0.36rem;
    color: #333333;
    padding: 0.25rem;
    .back{
      display: block;
      width:0.28rem;
      height: 0.28rem;
      background: url("../images/doctor-01/icon_back.png") no-repeat;
      background-size:0.28rem 0.28rem;
      margin-top: 0.17rem;

    }
  }
  .main{

  }

}