body{
  background-color:#f0f0f0;
  //height: 200%;
}
.warp{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  header{
    height: 0.58rem;
    line-height: 0.58rem;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff8fa;
    text-align: center;
    font-size:0.36rem;
    color: #333333;
    padding: 0.25rem;
    .back{
      display: block;
      width:0.28rem;
      height: 0.28rem;
      background: url("../images/doctor-01/icon_back.png") no-repeat;
      background-size:0.28rem 0.28rem;
      margin-top: 0.17rem;

    }
  }

  .combo{

    .combo_bottom{
      border-bottom: 1px solid #e5e5e5;
      background-color: #fff;
      padding: 0 0.2rem;
      box-sizing: border-box;
      .pic{
        a{
          display: block;
          width: 1.8rem;
          height: 1.8rem;
          background: url("../images/img_10.png") no-repeat;
          background-size:1.8rem 1.8rem;
          margin-top: 0.15rem;
          margin-right: 0.15rem;
          padding-bottom: 0.15rem;
        }
      }
      .right{

        float: left;
        width: 70%;
        .top{
          padding-top: 0.1rem;
         .user{
           border-right: 1px solid #e5e5e5;
           font-size: 0.32rem;
           padding-right: 0.2rem;
           color: #333333;
         }
          .zhuzhi{
            font-size: 0.24rem;
            padding-left: 0.2rem;
            padding-top: 0.04rem;
            color: #666666;
          }
          .detail{
            font-size: 0.24rem;
            color: #ff4400;
            padding: 0.06rem 0.12rem;
            background-color: #e5e5e5;
            border-radius: 0.1rem;
          }
        }
        P{
          font-size: 0.24rem;
          line-height: 1.8;
          &:last-child{
            color: #ff4400;
          }
        }



      }
    }
  }
  .tab_box{
    margin-top: 0.1rem;
    background-color: #fff;
    .tab_top{
      width: 100%;
      height:0.8rem;
      border-bottom: 1px solid #e5e5e5;
      line-height:0.8rem;

      ul{
        display: flex;
        width: 100%;
        li{
          float: left;
          flex: 1;
          text-align: center;
          //border-right: 1px solid #e5e5e5;
          font-size: 0.28rem;
          color: #333333;
          &:last-child{
            border-right:none;
          }
          a{
            width: 100%;
            display: block;
            font-size: 0.28rem;
          }
        }
      }
    }
    .contain_box{
      padding: 0.25rem 0.4rem;
      margin-bottom: 1rem;

      .introduce{
        display: none;
        span{
          font-size:0.28rem;
          color: #333333;
          position: relative;
          &:before{
            display: block;
            content: "";
            width: 0.1rem;
            height: 0.1rem;
            background-color: #ff4400;
            position: absolute;
            top: 3px;
            border-radius: 50%;
            left: -10px;
          }

        }
        ol{
          li{
            font-size:0.24rem;
            color: #666666;
            line-height: 1.8;

          }
        }
        .combo_box{
          background-color: #fff8fa;
          padding: 0.25rem 0.56rem;
          margin-top: 0.1rem;
          .basics{
            p{
              em{
                font-style: normal;
                color:#FF2B1B;
              }

            }



            span{
              font-size: 0.28rem;
            }
            p{
              font-size: 0.24rem;
              em{
                font-style:normal;
                color:red;
              }

            }
          }
          em{
            font-style: normal;
            font-size: 0.28rem;
          }
          i{
            padding-left: 1rem;
            font-style: normal;
            font-size: 0.28rem;
            margin-top: 0.1rem;
            display: block;
            float: left;
          }
          .number_day{
            padding-left: 2.6rem;
            margin-top: -0.5rem;
          }
          input{
            //position: absolute;
            //background: #E92333;
          }
          .check1{
            visibility: hidden;

          }
          label{
            display: inline-block;
            width: 10px;
            height: 10px;
            background: url(../images/xuanzhong.png) no-repeat;
            background-position: -23px -3px;
            border: 1px solid #b2b2b2;
            background-size: 23px 16px;
            float: right;
            margin-top: 0.2rem;

          }
          :checked + label{
            background-position: -7px -4px;
          }
          .tianshu{
            width: 1rem;
            text-align: center;
            border-radius: 0.1rem;
            height: 0.4rem;
            margin-left: 1.4rem;
            margin-top: 0.1rem;
          }
        }
        .price{
          margin-top: 1rem;
          i{
            font-style: normal;
            color:#ff4400;
          }
        }
      }

    }


    }
  .user_evaluation{
    width: 100%;
    height: 0.8rem;
    line-height: 0.4rem;
    border-bottom: 1px solid #e5e5e5;
    border-top:1px solid #e5e5e5;
    margin-top: 0.1rem;
    background-color: #fff;padding: 0 0.25rem;
    box-sizing: border-box;
    .user{
      font-size:0.28rem;
      color: #333333;
      font-weight: 400;
      border-left: 1px solid #ff4400;
      padding-left:0.3rem;
      margin-top: 0.2rem;
    }
    .grade{
      font-size: 0.2rem;
      color: #999999;
      float: left;
      line-height: 0.8rem;
      margin-left: 0.84rem;
    }
    .next{
      display: block;
      width:0.22rem;
      height: 0.4rem;
      background: url("../images/icon_right.png") no-repeat;
      background-size:0.22rem 0.4rem;
      margin-top: 0.17rem;
    }

  }
  }
.warp .tab_box .contain_box .introduce.selected{
  display: block;
}
.warp .tab_box .tab_top ul li a.active{
  background-color: #fff3f3;
  color:#ff4400;
}


  footer{
    height: 0.96rem;
    line-height: 0.96rem;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #fff8fa;
    border-top: 1px solid #e5e5e5;
    .answers{
      flex: 1;
      text-align: center;
      button{
        height: 0.76rem;
        width: 90%;
        border-radius: 0.1rem;
        border: 1px solid #ffd7d7;
        background-color: #ff8383;
        font-size:0.28rem;
        color: #fff;
      }
    }
  }
