*{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
.warp{
    width: 100%;
    height: 96px;
    display: flex;
    background:white;
}
.warp_cen{
    width:667px;
    height:96px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.warp_cen img{
    margin-top: 18px;
    display: block;
}
.warp_cen h2{
    font-size: 34px;
    color: #333333;
}
.whole{
    width:100%;
    height:76px;
    background:white;
    display:flex;

}

.whole ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.whole ul li{
    padding-left: 55px;
    font-size: 28px;
    color:#333333;
}
.one{
    width:100%;
    height:15px;
    background: #EEF2F1;
}
.content{
    width:100%;
    height:400px;
    background:#F8F8F8;
}
.two{
    width:100%;
    height:75px;
    background:white;
}
.content_cen{
    width:667px;
    height:130px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.content_cen img{
    margin:10px;
    width:110px;
    height:112px;
}
.content_cen h2{
    margin-right: 235px;
    font-size: 30px;
}
.goods{
    width:100%;
    height:120px;
    background:white;
}
.goods_cen{
    width:667px;
    height:120px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.goods_cen h2{
    color:#333333;
    font-size: 23px;
}
.goods_cen i{
    font-style: normal;    
    color:#333333;
    margin-left: 10px;
    font-size: 30px;
}
.goods_right{
    
}
.goods_right h2{
    font-size: 23px;
    color:#D72D35;
    float:left;
}
.goods_right i{
    color:#A8A8A8;
}
























